body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* Added for absolute positioning of the logo */
}

.logo {
    width: 150px; /* Increased the size */
    height: auto;
    position: absolute;
    top: 30px; /* Adjust the top position as needed */
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    background-color: #0b5eb7;
    color: rgb(252, 252, 252);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}
