<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF All-in-One Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> 
</head>
<body>
    <div class="container">
        <h1>PDF All-in-One Hub</h1>
        <a href="/split" class="btn">Split PDF</a>
        <a href="/merge" class="btn">Merge PDF</a>
        <a href="/upload" class="btn">View PDF</a>
        <a href="/translate" class="btn">Translate PDF</a><br/>
        <a href="/summarize" class="btn">Summarize PDF</a> 
        <a href="/encrypt" class="btn">Encrypt PDF</a> 
    </div>
</body>
</html>
